## Description
**üëãüõ≥Ô∏è Ahoy, welcome to Kaggle! You‚Äôre in the right place.**
This is the legendary Titanic ML competition ‚Äì the best, first challenge for you to dive into ML competitions and familiarize yourself with how the Kaggle platform works.

**If you want to talk with other users about this competition, come join our Discord! We've got channels for competitions, job postings and career discussions, resources, and socializing with your fellow data scientists. Follow the link here: https://discord.gg/kaggle**

The competition is simple: use machine learning to create a model that predicts which passengers survived the Titanic shipwreck.

Read on or watch the video below to explore more details. Once you‚Äôre ready to start competing, click on the "Join Competition button to create an account and gain access to the competition data. Then check out Alexis Cook‚Äôs Titanic Tutorial that walks you through step by step how to make your first submission!

## The Challenge
The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered ‚Äúunsinkable‚Äù RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren‚Äôt enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

In this challenge, we ask you to build a predictive model that answers the question: ‚Äúwhat sorts of people were more likely to survive?‚Äù using passenger data (ie name, age, gender, socio-economic class, etc).


## Dataset Description
## Overview
**The data has been split into two groups:**

training set (train.csv), test set (test.csv)

**The training set** should be used to build your machine learning models. For the training set, we provide the outcome (also known as the ‚Äúground truth‚Äù) for each passenger. Your model will be based on ‚Äúfeatures‚Äù like passengers‚Äô gender and class. You can also use feature engineering to create new features.

**The test set** should be used to see how well your model performs on unseen data. For the test set, we do not provide the ground truth for each passenger. It is your job to predict these outcomes. For each passenger in the test set, use the model you trained to predict whether or not they survived the sinking of the Titanic.

We also include **gender_submission.csv**, a set of predictions that assume all and only female passengers survive, as an example of what a submission file should look like.

## Variable Notes
pclass: A proxy for socio-economic status (SES)

1st = Upper

2nd = Middle

3rd = Lower

age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

sibsp: The dataset defines family relations in this way...

Sibling = brother, sister, stepbrother, stepsister

Spouse = husband, wife (mistresses and fianc√©s were ignored)

parch: The dataset defines family relations in this way...

Parent = mother, father

Child = daughter, son, stepdaughter, stepson

Some children travelled only with a nanny, therefore parch=0 for them.

| Variable | Notes |
|----------|-------|
| pclass   | - A proxy for socio-economic status (SES) <br> - 1st = Upper <br> - 2nd = Middle <br> - 3rd = Lower |
| age      | - Age is fractional if less than 1 <br> - If the age is estimated, it is in the form of xx.5 |
| sibsp    | - The dataset defines family relations in this way: <br> - Sibling = brother, sister, stepbrother, stepsister <br> - Spouse = husband, wife (mistresses and fianc√©s were ignored) |
| parch    | - The dataset defines family relations in this way: <br> - Parent = mother, father <br> - Child = daughter, son, stepdaughter, stepson <br> - Some children travelled only with a nanny, therefore parch=0 for them. |

## Table of variables, definition, and key

| Variable  | Definition                              | Key                     |
|-----------|-----------------------------------------|-------------------------|
| survival  | Survival                                | 0 = No, 1 = Yes         |
| pclass    | Ticket class                            | 1 = 1st, 2 = 2nd, 3 = 3rd |
| sex       | Sex                                     |                         |
| Age       | Age in years                            |                         |
| sibsp     | # of siblings / spouses aboard the Titanic |                         |
| parch     | # of parents / children aboard the Titanic |                         |
| ticket    | Ticket number                           |                         |
| fare      | Passenger fare                          |                         |
| cabin     | Cabin number                            |                         |
| embarked  | Port of Embarkation                     | C = Cherbourg, Q = Queenstown, S = Southampton |

In [3]:
# Import libraries
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [4]:
# Load data
train_df = pd.read_csv('/Users/youknowjp/Downloads/titanic/train.csv')
test_df = pd.read_csv('/Users/youknowjp/Downloads/titanic/test.csv')

In [7]:
# Get the data frame and determine the relevant columns
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Notes:

Looking at the data, the columns that are of important are Pclass, Sex, Age, and Fare

In [12]:
# Drop specified columns
columns_to_drop = ['Name', 'Ticket', 'Cabin', 'Embarked']

# Run once, if run again will cause error since the columns have been removed.
train_df = train_df.drop(columns=columns_to_drop)
test_df = test_df.drop(columns=columns_to_drop)

In [14]:
# Print data
train_df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [16]:
# Use Random Forest to predict who will lived

# Separate features and target
X = train_df.drop(columns=['Survived'])
y = train_df['Survived']

# List of numerical and categorical columns
num_cols = ['Age', 'Fare', 'Pclass', 'SibSp', 'Parch']
cat_cols = ['Sex']

# Preprocessing pipelines for numerical and categorical data
num_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median'))
])

cat_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Combine preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ('num', num_pipeline, num_cols),
        ('cat', cat_pipeline, cat_cols)
    ])

# Define the model pipeline
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(random_state=42))
])

# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_val)

# Evaluate the model
accuracy = accuracy_score(y_val, y_pred)
report = classification_report(y_val, y_pred)

print(f"Accuracy: {accuracy:.2f}")
print("Classification Report:")
print(report)

Accuracy: 0.80
Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.85      0.84       105
           1       0.77      0.74      0.76        74

    accuracy                           0.80       179
   macro avg       0.80      0.80      0.80       179
weighted avg       0.80      0.80      0.80       179

In [24]:
# Save submission
# Prepare the test data (drop unnecessary columns and handle missing values)
test_predictions = model.predict(test_df)

# Create a DataFrame with PassengerId and the predictions
submission_df = pd.DataFrame({
    'PassengerId': test_df['PassengerId'],
    'Survived': test_predictions
})

# Save the submission DataFrame to a CSV file
submission_df.to_csv('submission.csv', index=False)

print("Submission file created: submission.csv")

Submission file created: submission.csv